In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()
data =[(1,"sravan","kumar",10000),(2,"ramana","kumar",20000),]
schema = ["id","firstname","lastname","salary"]
df = spark.createDataFrame(data=data, schema = schema)
df.show()

+---+---------+--------+------+
| id|firstname|lastname|salary|
+---+---------+--------+------+
|  1|   sravan|   kumar| 10000|
|  2|   ramana|   kumar| 20000|
+---+---------+--------+------+

In [0]:
from pyspark.sql import SparkSession 
 
spark = SparkSession.builder.appName("StudentAssignment").getOrCreate() 
 
#sample employee data 
data = [ (1, "Alice", "Engineering", 65000), 
    (2, "Bob", "Marketing", 58000), 
    (3, "Charlie", "Sales", 52000), 
    (4, "David", "Engineering", 72000), 
    (5, "Eve", "Sales", 54000) 
] 
 
schema = ["ID", "Name", "Department", "Salary"] 
df = spark.createDataFrame(data, schema=schema) 
df.show() 
 
#Show schema 
df.printSchema() 
 
# Filter: Salary > 60000 
df.filter(df["Salary"] > 60000).show() 
 
# Group by Department 
df.groupBy("Department").count().show() 
 
# Average Salary by Department df.groupBy("Department").avg("Salary").show()

+---+-------+-----------+------+
| ID|   Name| Department|Salary|
+---+-------+-----------+------+
|  1|  Alice|Engineering| 65000|
|  2|    Bob|  Marketing| 58000|
|  3|Charlie|      Sales| 52000|
|  4|  David|Engineering| 72000|
|  5|    Eve|      Sales| 54000|
+---+-------+-----------+------+

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

+---+-----+-----------+------+
| ID| Name| Department|Salary|
+---+-----+-----------+------+
|  1|Alice|Engineering| 65000|
|  4|David|Engineering| 72000|
+---+-----+-----------+------+

+-----------+-----+
| Department|count|
+-----------+-----+
|Engineering|    2|
|  Marketing|    1|
|      Sales|    2|
+-----------+-----+